name: Test & Release Storer Go Module

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-release:
    runs-on: ubuntu-latest
    name: Test and Release Storer Go Module 
    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8070:8000
      minio:
        image: minio/minio:edge-cicd
        ports:
          - 8071:9000
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
        options: >-
          --name=minio 
          --health-cmd "curl http://localhost:9000/minio/health/live"
      
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Run Unit & Functional tests
        run: |
          make test
        env:
          DYNAMODB_ENDPOINT: http://localhost:8070
          S3_ENDPOINT: http://localhost:8071

      - name: Verify Version Changed
        uses: tj-actions/changed-files@v19
        id: version-changed
        with:
          files: |
             version.go

      - name: Read Current Version
        if: ${{ (steps.version-changed.outputs.any_changed == 'true') && (github.event_name == 'push') }}
        run: |
          grep 'const VERSION' version.go | sed -e 's/const VERSION Version = "\(v[^"]*\)"/STORER_VERSION=\1/' >> $GITHUB_ENV
          grep 'const VERSION' version.go | sed -e 's/const VERSION Version = "\(v[^"]*\)"/STORER_VERSION=\1/'
      
      - name: "Release Module"
        if: ${{ (steps.version-changed.outputs.any_changed == 'true') && (github.event_name == 'push') }}
        run: |
          tag=${{ env.STORER_VERSION }}
          message="${tag}: PR #${github.event.pull_request.number} ${github.event.pull_request.title}"
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git tag -a "${tag}" -m "${message}"
          git push origin "${tag}" 
