name: Stack@basic Build & Publish pipeline

on:
  push:
    branches:
      - main
    paths:
      - 'stacks/basic/**'
  pull_request:
    branches:
      - main
    paths:
      - 'stacks/basic/**'

# defaults:
#   run:
    # working-directory: stacks/basic

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      
      - uses: aws-actions/setup-sam@v1
        with:
          version: 1.40.1

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Validate sam template
        working-directory: ./stacks/basic
        run: |
          make validate
      
      - name: Install Go dependencies
        working-directory: ./stacks/basic
        run: |
          go mod tidy

      - name: Run unit tests
        working-directory: ./stacks/basic
        run: |
          make unit-test/run
        
      - name: Build stack
        working-directory: ./stacks/basic
        run: |
          make build

      - name: Generate integ test stackname
        run: echo STACK_NAME=storer-basic-test-$(date +%s) >> $GITHUB_ENV
        if: ${{ github.event_name == 'push' }}
      
      - name: Display integ test stackname
        run: echo ${{ env.STACK_NAME }}
        if: ${{ github.event_name == 'push' }}

      # integration test only in case of push to branch
      - name: Setup integ tests
        working-directory: ./stacks/basic
        if: ${{ github.event_name == 'push' }}
        run: |
          make integ-test/deploy

      - name: Run integ tests
        working-directory: ./stacks/basic
        if: ${{ github.event_name == 'push' }}
        run: |
          make integ-test/run

      # in case of failure, make sure to manually run the cmd after debugging
      - name: Clear integ tests
        working-directory: ./stacks/basic
        if: ${{ github.event_name == 'push' }}
        run: |
          make integ-test/clear