name: Test Storer Event Store

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Storer Go packages 
    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8070:8000
      minio:
        image: minio/minio:edge-cicd
        ports:
          - 8071:9000
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
        # volumes:
        #   - ${{ github.workspace }}/minio:/data
        options: >-
          --name=minio 
          --health-cmd "curl http://localhost:9000/minio/health/live"
      
    steps:
      - uses: actions/checkout@v2
        with:
          path: 'source'

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Run Unit & Functional tests
        working-directory: ./source
        run: |
          make test
        env:
          DYNAMODB_ENDPOINT: http://localhost:8070
          S3_ENDPOINT: http://localhost:8071

